@model EntityLayer.Concrete.Writer
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h1>Yeni Yazar Ekleme Sayfası</h1>
<br />

@using (Html.BeginForm("AddWriter", "Writer", FormMethod.Post))
{ 
    <div class="form-group">
        @Html.Label("Ad-Soyad")
        @Html.TextBoxFor(x => x.WriterName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WriterName)
        <br /><br />
        @Html.Label("Mail")
        @Html.TextBoxFor(x => x.WriterMail, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WriterMail)
        <br /><br />
        @Html.Label("Şifre")
        @Html.TextBoxFor(x => x.WriterName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WriterPassword)
        <br /><br />
        @Html.Label("Eserleri")
        @Html.TextBoxFor(x => x.WriterProduct, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WriterProduct)
        <br /><br />
        @Html.Label("Hakkında")
        @Html.TextBoxFor(x => x.WriterAbout, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WriterAbout)
        <br /><br />
        @Html.Label("Fotoğraf")
        @Html.TextBoxFor(x => x.WriterAbout, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WriterImage)
        <br /><br />
        <button class="btn btn-info">Yazarı Ekle</button>
    </div>

}

